<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Auslan Signbank">
      {assigns[:page_title] || "Signbank"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <ul class="login-controls">
      <%= if @current_user do %>
        <li class="login-controls__current-user">
          {@current_user.email} {case @current_user.role do
            :editor -> "(Editor)"
            :tech -> "(Tech)"
            :none -> nil
          end}
        </li>
        <li>
          <.link href={~p"/users/settings"}>
            Settings
          </.link>
        </li>
        <li>
          <.link href={~p"/users/log_out"} method="delete">
            Log out
          </.link>
        </li>
      <% end %>
    </ul>
    <div id="page-container">
      {@inner_content}
      <footer>
        <div class="level">
          <.link
            class={["admin_login level-left", if(@current_user, do: "is-invisible")]}
            href={~p"/users/log_in"}
          >
            Admin login
          </.link>
          <p>
            <a href={~p"/terms-and-conditions"}>Terms of use</a>.
          </p>
        </div>
        <p class="app_version">
          Signbank v{Application.spec(:signbank, :vsn)}
        </p>
      </footer>
    </div>
  </body>
</html>
