@charset "utf-8";
@use 'sass:color';

$base-font-size: 16px;

$purple: #413c58;
$yellow: #fff3c3;
$gray: lightgrey;

/* TODO: make navy or similar */
$citation_border: #2c55c7;
/* TODO: make sky blue */
$variant_border: #79b8fb;
$english_entry_border: #f3a712;
$se_only_border: #d23d32;

$footer-height: 5.3rem;

$color_dominant_hand: #9db5f7;
$color_subordinate_hand: #aed784;

@use "bulma/utilities" with ($family-primary: "akkinson-hyperlegible, sans-serif",
  $primary: $purple);

@use "bulma/components" with ($navbar-burger-color: $yellow,
  // $navbar-tab-active-background-color: $gray,
);

@use "bulma/form" with ($input-shadow: none);

/*! bulma.io v1.0.2 | MIT License | github.com/jgthms/bulma */
@use "bulma";

@use "region_map.scss";
@use "fonts.scss";
@use "modal.scss";

a {
  text-decoration: underline;
}

#navbar-menu {
  a {
    text-decoration: none;
  }
}

video:focus-within,
:focus-visible {
    outline: 3px solid black !important;
    box-shadow: 0 0 0 6px white !important;
}

[data-drag-handle] {
  height: 20px;
  width: 20px;
  color: green;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

[data-drag-handle]:active {
  cursor: ns-resize;
}

.bg-yellow-100 {
  background: palegoldenrod;
}

.shadow-2xl {
  box-shadow: black 20px 20px;
}



input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

$gaps: (
  "small": 0.5em,
  "medium": 1em,
  "large": 2em,
);

@each $name, $gap in $gaps {
  .has-gap-#{$name} {
    gap: $gap;

    hr {
      margin-top: calc($gap / -2);
      margin-bottom: calc($gap / -2);
    }
  }
}

.navbar {
  align-items: center;

  .navbar-item,
  .navbar-link,
  a {
    color: $yellow;
  }
}

/* To right align the description and results buttons */
.search-matches .field {
  justify-content: flex-end;
}

.button .icon:last-child {
  padding-left: 0.5em;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $base-font-size;
  margin: 0;
  font-family: atkinson-hyperlegible;
}

html {
  box-sizing: border-box;

  --signbank-yellow: #{$yellow};
  --signbank-purple: #{$purple};
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  padding: 1rem;
}

#page-container {
  position: relative;
  min-height: 100vh;

  #content-wrap {
    padding-bottom: $footer-height;
  }
}

footer {
  $footer-bg: #cacfd6;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 1rem 2rem;
  background-color: $footer-bg; // TODO: move colors somewhere better
  text-align: right;

  .app_version {
    text-align: center;
    font-size: 0.8em;
    margin: 0;
  }

  .admin_login {
    color: inherit;
    font-size: 0.8em;
  }
}

#logo {
  max-width: 35vw;
  margin-top: max(-2%, -22px);
  margin-bottom: 1%;

  img {
    max-width: inherit;
  }
}

.control .button {
  height: var(--bulma-control-height);
}

/* bulma has the panel-blocks as flexboxes, we don't necessarily want this */
.panel-block {
  display: block;
}

.panel-tabs {
  align-items: normal;
}

.search-filter {
  display: flex;
}

table tr [phx-click] {
  cursor: pointer;
}

table tr:has([phx-click]) {
  cursor: pointer;

  &:hover {
    background: #efefef;
  }
}

.login-controls {
  background: var(--signbank-purple);
  color: var(--signbank-yellow);
  display: flex;
  gap: 1em;
  justify-content: end;
  align-items: end;
  margin: 0;
  padding-right: 2em;
  padding-top: 1rem;
  list-style-type: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  .login-controls__current-user {
    font-size: 0.9em;
    text-align: end;
  }
}

.homepage__quick-links {
  display: flex;

  li {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
  }
}

.page-nav {
  display: flex;
  align-items: center;
  gap: 0.3em;
  list-style: none;

  a {
    color: black;
  }

  .page-nav__current {
    padding: 0.2em;
    border: 1px black solid;
    background-color: lightblue;
  }
}

.definitions .definition__senses {
  li:only-child {
    list-style: none;
  }
}

.suggested_signs {
  display: flex;
  gap: 0.5em;
  list-style: none;
}

.entry-page__dict_page_nav {
  flex-shrink: 0;
  display: flex;
  gap: 1em;
  border-bottom: black;

  .entry-page__dict_position {
    text-align: center;
    align-content: center;
    line-height: 1em;
  }
}

.entry-page__search_result {
  padding: 0.5em 1em;
  border: solid 1px black;
  text-decoration: none;
  color: black;
  border-collapse: collapse;
}

.entry-page__search_result--current {
  background-color: lightgray;
}

.entry-page__switch_entry {
  margin-bottom: 1em;

  .level-left {
    flex-direction: row;
  }
}

.summary-table th {
  text-align: right;
  padding-right: 1em;
}

.entry-page__ling {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "video info"
    ". details"
    "tags defintitions";
}

.entry-page__variant_list {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1em;
}

.entry-page__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  $gap: 2rem;
  gap: $gap;
  justify-content: space-between;

  .entry-page__column {
    height: 100%;
    width: calc(50% - $gap);
  }

  @media (max-width: 640px) {
    flex-direction: column;

    .entry-page__column {
      width: 100%;
    }
  }
}

.entry-page__videos_scroller {
  position: relative;

  .entry-page__videos_scroller_slide_buttons {
    position: absolute;
    z-index: 10;
    margin-top: 25%;
    padding: 1.3rem 0.5rem;

    display: flex;
    align-items: center;
    height: 2.5em;
    border-radius: 0;
    cursor: pointer;
  }

  #next_variant {
    right: 0;
    border-top-left-radius: var(--bulma-control-radius);
    border-bottom-left-radius: var(--bulma-control-radius);
  }

  #previous_variant {
    left: 0;
    border-top-right-radius: var(--bulma-control-radius);
    border-bottom-right-radius: var(--bulma-control-radius);
  }
}

.video-frame {
  padding: 1rem;
  border-radius: 2px;

  &.citation {
    background-color: $citation_border;
  }

  &.variant {
    background-color: $variant_border;
  }

  &.english_entry {
    background-color: $english_entry_border;
  }

  &.se_only {
    background-color: $se_only_border;
  }

  .video-frame__video_wrapper {
    position: relative;
    aspect-ratio: 16 / 9;
    display: flex;
  }

  .video-frame__video_wrapper video {
    height: 100%;
  }

  .video-frame__video_wrapper svg {
    height: 100%;
    width: 100%;
    transform: translateX(40%) translateY(-34%) scale(0.2);
    position: absolute;
  }

  .video-frame__sign-type {
    position: absolute;
    font-size: 1.1em;
    margin: 0.4rem;
    padding: 0.3em;
    background-color: transparentize($color: white, $amount: 0.05);
    border: 1px black solid;
    display: inline-block;
  }

  video {
    width: 100%;
  }
}

.keyword-disambig {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18em;
  list-style-type: none;
  gap: 0em 2em;

  .keyword-disambig__keyword:not([data-published]):after {
    content: "*";

    font-size: 1.3em;
    text-decoration: none;
    /* slight kerning adjustment */
    margin-left: -0.2em;
  }
}

.bg-striped {
  $bg: #d1d1d177;
  background-image: linear-gradient(
    45deg, transparent 11.11%, 
    $bg 11.11%, $bg 50%,
    transparent 50%, transparent 61.11%,
    $bg 61.11%, $bg 100%
  );
  background-size: 25.46px 25.46px;
}

.flash {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 50;
  padding: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  width: 20rem;

  background-color: white;

  @media (min-width: 640px) {
    width: 24rem;
  }

  flash__message {
    display: flex;
    gap: 0.375rem;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .flash__info {
    --ring-color: #10b981;
    color: #065f46;
    background-color: #ecfdf5;
  }

  .flash__error {
    --ring-color: #ec4899;
    color: #831843;
    background-color: #fdf2f8;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.transition__hide {
  &--start {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  &--mid {
    --transform-translate-y: 0;
    opacity: 1;

    @media (min-width: 640px) {
      --transform-scale-x: 1;
      --transform-scale-y: 1;
    }

    transform: translateX(var(--transform-scale-x)) translateY(var(--transform-scale-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  }

  &--end {
    --transform-translate-y: 1rem;
    opacity: 0;

    @media (min-width: 640px) {
      --transform-scale-x: 0.95;
      --transform-scale-y: 0.95;
      --transform-translate-y: 0;
    }

    transform: translateX(var(--transform-scale-x)) translateY(var(--transform-scale-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  }
}

.transition__show {
  &--start {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  &--mid {
    --transform-translate-y: 1rem;
    opacity: 0;

    @media (min-width: 640px) {
      --transform-scale-x: 0.95;
      --transform-scale-y: 0.95;
      --transform-translate-y: 0;
    }

    transform: translateX(var(--transform-scale-x)) translateY(var(--transform-scale-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  }

  &--end {
    --transform-translate-y: 0;
    opacity: 1;

    @media (min-width: 640px) {
      --transform-scale-x: 1;
      --transform-scale-y: 1;
    }
  }
}

.icon {
  &--mini {
    height: 12px;
    width: 12px;
  }

  &--small {
    height: 16px;
    width: 16px;
    flex-shrink: 0;
  }

  &--medium {
    height: 24px;
    width: 24px;
  }

  &--large {
    height: 32px;
    width: 32px;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.hamnosys {
  font-family: hamnosys;
  font-size: 1.8em;
  vertical-align: text-top;
}

.edit_sections {

  &,
  // fix for bulma CSS
  input {
    font-size: 12px;
  }

  display: grid;
  gap: 10px;
  // TODO: this layout doesn't work as intended, but I think copying the FM Pro layout 1:1 is going to be almost impossible
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-areas: "video video editorial grammatical_function"
  "phonology phonology vocabulary morphology"
  "phonology phonology definitions definitions"
  "phonology phonology definitions definitions";

  $sections: (
    "phonology": #c9ecfc,
    "vocabulary": #fcf0cf,
    "morphology": #f4be72,
    "grammatical_function": #fffc8c,
    "definitions": #00000000,
    "video": #00000000
  );

@each $name, $color in $sections {
  ##{$name}_section {
    --section_color: #{$color};
    grid-area: #{$name};

    table+table {
      margin-top: 10px;
    }
  }
}

#editorial_section {
  thead {
    border: 4px solid #ec602c;
  }
}

#definitions_section {
  .drag-handle {
    margin-right: 1em;
  }

  .definition {
    display: flex;
    padding: 1em;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 20px;

    textarea {
      width: 100%;
    }
  }
}

table {
  width: 310px;

  td {
    text-align: right;
  }
}

&>div {
  border: 4px solid var(--section_color);
  padding: 10px;

  thead {
    background: var(--section_color);
  }
}

input,
select {
  background: var(--section_color);
}

.dominant_hand_field {
  background: $color_dominant_hand;

  &.allophone_field {
    background: color.scale($color_dominant_hand, $lightness: -30%)
  }
}

.subordinate_hand_field {
  background: $color_subordinate_hand;

  &.allophone_field {
    background: color.scale($color_subordinate_hand, $lightness: -30%)
  }
}
}


.handshape.handshape__letter_c {
  width: 209px;
  height: 209px;
  background: url(/images/spritesheet.png) -0px -0px;
}

.handshape.handshape__point {
  width: 209px;
  height: 209px;
  background: url(/images/spritesheet.png) -418px -0px;
}

.handshape.handshape__flat {
  width: 209px;
  height: 209px;
  background: url(/images/spritesheet.png) -4180px -0px;
}



.highlight,
.highlight rect {
  $c: blue;
  background: $c;
  fill: $c;
  opacity: 0.8;
}