.region_map_svg {
  --region-map-fill: gray;
  --region-map-fill--selected: orange;
  --region-map-stroke: black;

  g {
    fill: var(--region-map-fill);
    stroke: var(--region-map-stroke);
  }
}

/* Dialects */
.region_map_svg__select_aus #VIC,
.region_map_svg__select_aus #SA,
.region_map_svg__select_aus #Kangaroo-Island,
.region_map_svg__select_aus #WA,
.region_map_svg__select_aus #TAS,
.region_map_svg__select_aus #NT,
.region_map_svg__select_aus #Groote-Eyland,
.region_map_svg__select_aus #Melville-Island,
.region_map_svg__select_aus #QLD,
.region_map_svg__select_aus #NSW,
.region_map_svg__select_aus #ACT,

.region_map_svg__select_nth #QLD,
.region_map_svg__select_nth #NSW,
.region_map_svg__select_nth #ACT,

.region_map_svg__select_sth #VIC,
.region_map_svg__select_sth #SA,
.region_map_svg__select_sth #Kangaroo-Island,
.region_map_svg__select_sth #WA,
.region_map_svg__select_sth #TAS,
.region_map_svg__select_sth #NT,
.region_map_svg__select_sth #Groote-Eyland,
.region_map_svg__select_sth #Melville-Island,

/* Indiv states (plus islands and ACT) */
.region_map_svg__select_vic #VIC,

.region_map_svg__select_wa #WA,

.region_map_svg__select_sa #SA,
.region_map_svg__select_sa #Kangaroo-Island,

.region_map_svg__select_nt #NT,

.region_map_svg__select_qld #QLD,

.region_map_svg__select_nsw #NSW,
.region_map_svg__select_nsw #ACT,

.region_map_svg__select_tas #TAS {
  fill: var(--region-map-fill--selected);
}

/*
  NOTE: this will be broken if two individual states are selected, I don't think this
  is present in the data as of June 2024
*/
/* Hide other states when single state is selected */ 
.region_map_svg__select_vic #root > *,
.region_map_svg__select_wa #root > *,
.region_map_svg__select_sa #root > *,
.region_map_svg__select_nt #root > *,
.region_map_svg__select_qld #root > *,
.region_map_svg__select_nsw #root > *,
.region_map_svg__select_tas #root > * {
  display: none;
}

.region_map_svg__select_qld #QLD {
  display: block;
  transform: translateX(-100%) scale(1.7);
}

.region_map_svg__select_qld #QLD {
  display: block;
  transform: translateX(-100%) scale(1.7);
}

.region_map_svg__select_vic #VIC  {
  display: block;
  transform: translateX(-170%) translateY(-180%) scale(3);
}
.region_map_svg__select_wa #WA  {
  display: block;
  transform: translateX(0%) translateY(-10%) scale(1.4);
}
.region_map_svg__select_sa #SA  {
  display: block;
  transform: translateX(-70%) translateY(-70%) scale(2);
}
.region_map_svg__select_nt #NT  {
  display: block;
  transform: translateX(-100%) scale(1.7);
}
.region_map_svg__select_qld #QLD  {
  display: block;
  transform: translateX(-100%) scale(1.7);
}
.region_map_svg__select_nsw #NSW  {
  display: block;
  transform: translateX(-150%) translateY(-90%) scale(2.2);
}
.region_map_svg__select_tas #TAS  {
  display: block;
  transform: translateY(-320%) translateX(-280%) scale(4);
}