ol:not([type=a]):not([type=i]) {
  counter-reset: item;
}
ol:not([type=a]):not([type=i]) > li {
  display: block;
  position: relative;
}
ol:not([type=a]):not([type=i]) > li:before {
  content: counters(item, ".")".";
  counter-increment: item;
  position: relative;
  margin-right: 0;
  right: 0.5em;
}

li {
  margin-bottom: 1em;
}

.content {
  li {
    h1, h2, h3, h4, h5, h6 {
      display: inline;
      font-weight: bold;
    } 
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
  }
}
